.o_courier_form.o_form_view {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f8f9fa;
}

.o_courier_form .o_form_sheet_bg {
    flex: 1 1 auto;
    padding: 0;
}

.o_courier_form .o_courier_sheet {
    min-width: unset;
    max-width: 1800px;
    width: 98%;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
}

.o_courier_form .o_courier_content {
    margin-top: 16px;
}

.o_courier_form .oe_title {
    width: 100%;
    margin-bottom: 16px;
}

.o_courier_form .oe_chatter {
    max-width: 1800px;
    width: 98%;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
}

.o_courier_form .o_notebook {
    margin-top: 16px;
}

.o_courier_form .o_form_sheet .o_notebook {
    margin-left: -16px;
    margin-right: -16px;
}

.o_courier_form .o_form_statusbar {
    margin-bottom: 0;
}

/* Asegura que los grupos se muestren correctamente */
.o_courier_form .o_group {
    margin: 10px 0;
}

/* Ajusta el espacio entre los campos */
.o_courier_form .o_group .o_field_widget {
    margin-bottom: 8px;
}